.partner__section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 120px 10%;

  .partner__info {
    width: 55%;
    display: flex;
    flex-direction: column;

    h2 {
      color: #333;
      font-size: 3.5em;
    }

    p {
      font-size: 1.5em;
      color: $primary-red;
      font-weight: 500;
    }

    a {
      margin-top: 10px;
      width: 140px;
      min-width: 140px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-red;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 1em;
      transition: background 0.2s ease;

      &:hover {
        background: #d80505;
        transition: background 0.2s ease;
      }
    }
  }

  .partner__img {
    width: 40%;
    display: flex;
    justify-content: center;
    img {
      width: 180px;

      &:first-of-type {
        margin-left: 30px;
        width: 150px;
        position: relative;
      }
    }
    span {
      width: 80px;
      font-size: 100px;
    }
  }
}
