.hero__section {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .hero__darkBG {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
  }

  .hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  .hero__info {
    position: absolute;
    z-index: 150;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10%;

    h1 {
      color: $white;
      font-weight: 400;
      font-size: 3em;
      margin-bottom: 20px;

      span {
        color: $primary-red;
        font-weight: 500;
      }
    }

    p {
      color: rgb(255, 255, 255);
      font-size: 1em;
      font-weight: 300;
      width: 50%;
    }
    button {
      min-width: 170px;
      height: 45px;
      background: $primary-red;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.9em;
      margin-top: 30px;

      &:hover {
        background: #d80505;
        transition: background 0.2s ease;
      }
    }
  }

  .xm__hero {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15%;

    h2 {
      text-align: center;
      font-size: 0.7em;
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      margin: 20px 0;
    }

    div {
      width: 80px;
      max-height: 80px;
      margin-bottom: 20px;
      img {
        object-fit: cover;
        max-height: 80px;
      }
    }
  }

  .hero__arrowdown {
    position: absolute;
    z-index: 200;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 2.5em;
    animation: updown 2s ease infinite;

    path {
      fill: rgb(255, 255, 255);
    }
  }

  @keyframes updown {
    0% {
      transform: translateY(-20%);
    }

    50% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-20%);
    }
  }
}

@media screen and (max-width: 768px) {
  .hero__section {
    height: 500px;

    .hero__info {
      text-align: center;
      padding-left: 0;
      align-items: center;

      h1 {
        font-size: 2.7em;
      }

      p {
        font-size: 1em;
        width: 90%;
      }
    }
    .hero__img {
      width: unset;
    }

    .xm__hero {
      display: none;
    }
  }
}
