.price__section {
  width: 100%;
  background-color: rgb(235, 235, 235);
  margin: auto;
  display: flex;
  position: relative;
  min-height: 500px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    background: rgba(0, 0, 0, 0.75);
  }

  .pricing__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
  }

  .price__container {
    position: relative;
    z-index: 200;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-weight: 500;
      font-size: 3em;
      color: $primary-red;
      margin-bottom: 15px;
    }

    p {
      color: #fff;
      font-size: 1.3em;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .price {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        color: #fdfdfd;
        font-size: 1.3em;
        font-weight: 400;
        margin-bottom: 0;

        span {
          font-weight: 500;
          font-size: 1.5em;
          color: rgb(9, 218, 2);
        }
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      text-align: initial;

      li {
        font-size: 1.1em;
        color: rgb(201, 201, 201);
        font-weight: 400;

        span {
          color: rgb(28, 173, 28);
        }
      }
    }

    .MuiButton-root {
      box-shadow: none;
      border-radius: 0;
      width: 200px;
      min-width: 200px;
      padding: 0;
      height: 50px;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .price__section {
    min-height: 600px;
    .price__container {
      width: 90%;

      h2 {
        font-size: 2.7em;
      }

      p {
        font-size: 1.2em;
      }

      .price {
        p {
          font-size: 1.3em;

          span {
            font-size: 1.4em;
          }
        }
      }

      li {
        margin-bottom: 10px;
      }
    }
  }
}
