.videolist__container {
  margin: auto;
  width: 85%;
  max-height: 400px;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  .Mui-selected .MuiTab-wrapper {
    color: rgb(31, 31, 31);
    svg {
      fill: $primary-red;
    }
  }

  .MuiTabs-root {
    width: 35%;
    background-color: #f0f0f0;

    .MuiTabs-flexContainer {
      .MuiButtonBase-root {
        width: 90%;
        margin: auto;
        max-width: unset;
      }
    }

    .MuiTabScrollButton-root {
      display: none;
    }

    .MuiButtonBase-root:first-of-type {
      margin-top: 20px;
    }
    .MuiButtonBase-root:last-of-type {
      margin-bottom: 20px;
    }
  }

  .MuiTab-root {
    padding-left: 0;
    margin-bottom: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 120px;

    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 400;
      text-transform: none;
      text-align: center;
      color: #535353;
      font-size: 1.2em;
    }

    svg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
}

.video__container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;

  > iframe {
    width: 680px;
    height: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .videolist__container {
    background-color: #fff;
    width: 90%;
    flex-direction: column;
    max-height: 900px;
    margin-bottom: 50px;

    .MuiTabs-root {
      width: 100%;
      box-shadow: inset 0px -18px 6px -6px #efefef;
      height: 300px;
    }

    .video__container {
      width: 100%;
      height: 350px;

      > iframe {
        height: 100%;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.videotitle__container {
  width: 85%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;

  h2 {
    font-weight: 400;
    font-size: 1.8em;
    width: 98%;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(70, 70, 70);
    padding-bottom: 20px;
  }
}

.basic-bottom__message {
  width: 85%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    margin-right: 10px;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: #3a3a3a;

    span {
      font-weight: 500;
      color: #202020;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 768px) {
  .videotitle__container {
    width: 90%;

    h2 {
      font-size: 1.3em;
    }
  }
}
