.arbitrage__container {
  margin: auto;
  min-width: 85%;
  max-width: 1024px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .leveltabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tabs {
      height: 70px;
      margin-bottom: 60px;

      .MuiTabs-indicator {
        display: none;
      }

      div {
        height: 100%;

        .MuiTabs-flexContainer {
          button {
            text-transform: unset;
            font-size: 1.3em;
            min-width: 320px;
            background-color: rgb(250, 250, 250);

            &:hover {
              transition: background-color 0.2s, color 0.2s;
              color: #fff;
              background-color: #f72424;
            }
          }

          .Mui-selected {
            background-color: #f72424;
            color: #fff;

            &:hover {
              background-color: #f72424;
            }
          }
        }
      }
    }
  }

  .videolist__container {
    width: 100%;
    max-width: unset;
    min-height: 400px;
    background-color: #fff;
    justify-content: space-between;

    .MuiTabs-root {
      width: 35%;
      background-color: #f0f0f0;
    }

    .MuiTabs-flexContainer {
      .MuiButtonBase-root {
        width: 90%;
        margin: auto;
        max-width: unset;

        span {
          padding: 0 20px;
        }
      }
    }

    .MuiTabScrollButton-root {
      display: none;
    }

    .MuiButtonBase-root:first-of-type {
      margin-top: 20px;
    }
    .MuiButtonBase-root:last-of-type {
      margin-bottom: 20px;
    }
  }
}
