.lives__container {
  margin: 50px auto;
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .lives-tab__img {
    overflow: hidden;
    max-width: 100%;
    display: block;
    width: 450px;
    height: 450px;
    max-height: 350px;
    object-fit: contain !important;
  }

  .lives-tab__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
      margin-bottom: 30px;
      width: 80px;
      height: 80px;
      fill: rgb(131, 131, 131);
    }

    button.enter__btn {
      width: 300px;
      min-width: 300px;
      height: 55px;
      font-weight: 500;
      text-transform: unset;
      font-size: 1.4em;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .lives__container {
    margin-top: 20px;
    flex-direction: column;
    padding: 0;

    .lives-tab__img,
    .lives-tab__info {
      width: 100% !important;
      margin: auto;
      align-items: center;
      justify-content: center;

      svg {
        display: none;
      }
    }
  }
}
