.plans__section {
  width: 100%;
  margin: 0 0 120px 0;
  min-height: 650px;

  .plans__container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .plans__title {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 60px;
      padding-top: 60px;

      h2 {
        width: 70%;
        margin: auto;
        color: rgb(39, 39, 39);
        font-weight: 500;
        font-size: 3em;
        margin-bottom: 20px;
      }

      p {
        width: 50%;
        margin: auto;
        font-weight: 400;
        color: rgb(131, 131, 131);
        font-size: 1.1em;
      }
    }

    .plans__card__container {
      width: 100%;
      display: flex;
      justify-content: center;

      .plan__card {
        width: 30%;
        max-width: 450px;
        min-height: 550px;
        padding: 30px;
        border-radius: 5px;
        position: relative;

        .plan__card-title {
          width: 100%;
          padding-bottom: 10px;
          font-weight: 600;
          font-size: 1.6em;
          margin-bottom: 30px;
        }

        .prices {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          h3 {
            font-size: 1.4em;
            font-weight: 300;

            span {
              font-weight: 600;
              font-size: 1.5em;
              color: rgb(31, 31, 31);
            }

            &:first-of-type {
              margin-bottom: 5px;
            }
          }
        }

        .plan__benefits {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          li {
            margin: 5px 0;
            display: flex;
            align-items: center;
            font-size: 1.1em;
            font-weight: 400;

            small {
              margin-left: 5px;
            }

            span {
              padding: 6px 9px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              font-weight: 600;
            }
          }
        }

        .MuiButtonBase-root {
          width: 90%;
          height: 45px;
          box-shadow: none;
          text-transform: unset;
          position: absolute;
          bottom: 20px;
          margin: auto;
          left: 0;
          right: 0;
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
            transition: opacity 0.2s;
          }
        }
      }

      .plan__premium {
        margin-right: 50px;
        background: #ececec;
        border-top: 4px solid rgb(175, 175, 175);

        .plan__card-title {
          color: rgb(46, 53, 61);
        }
        .prices {
          h3 {
            color: rgba(65, 65, 65, 0.7);
          }
        }

        .plan__benefits {
          li {
            color: rgb(31, 31, 31);
            span {
              background: rgb(43, 43, 43);
              color: #fff;
            }
          }
        }

        .MuiButtonBase-root {
          background-color: rgb(31, 31, 31);
          color: #fff;
        }
      }

      .plan__premium__plus {
        background: rgb(31, 31, 31);
        border-top: 4px solid rgb(175, 175, 175);

        .plan__card-title {
          color: rgb(250, 250, 250);
        }

        .prices {
          h3 {
            color: rgba(255, 255, 255, 0.6);
            span {
              color: #fff;
            }
          }
        }

        .plan__benefits {
          li {
            color: rgb(255, 255, 255);
            span {
              background: rgb(255, 255, 255);
              color: rgb(31, 31, 31);
            }
          }
        }

        .MuiButtonBase-root {
          background-color: #fff;
          color: rgb(31, 31, 31);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .plans__section {
    .plans__container {
      .plans__title {
        width: 100%;
        h2 {
          width: 90%;
          font-size: 2.3em;
        }

        p {
          width: 80%;
          font-size: 1.2em;
        }
      }

      .plans__card__container {
        flex-direction: column;
        width: 90%;
        margin: auto;

        .plan__card {
          width: 100%;
        }

        .plan__premium {
          margin-bottom: 40px;
        }
      }
    }
  }
}
