.selectplan__container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .arrowback__btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  .selectplan__card {
    max-width: 45%;
    width: 400px;
    height: 500px;
    max-height: 550px;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px 5px 1px rgb(206, 206, 206);
    border-radius: 5px;
    border-top: 4px solid $primary-red;
    transition: 0.4s ease;
    overflow: hidden;

    &:first-of-type {
      margin-right: 50px;
    }

    &:hover {
      transition: transform 0.3s ease;
      transform: translateY(-2px);
      cursor: pointer;
    }

    .card__img {
      position: relative;
      width: 100%;
      height: 200px;
      z-index: 70;

      &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 80;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.3);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card__header {
      text-align: center;
      font-size: 1.5em;
      font-weight: 500;
      padding: 15px 0;
      margin-bottom: 40px;
    }
    .card__header-1 {
      background-color: rgb(95, 95, 95);
      color: rgb(255, 255, 255);
    }

    .card__header-2 {
      background-color: rgb(31, 31, 31);
      color: #fff;
    }

    .prices {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.7em;
        text-align: center;
        font-weight: 500;
        color: rgb(37, 37, 37);

        span {
          color: #afafaf;
          font-weight: 400;
        }

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }

    button {
      background-color: #3a3a3a;
      position: absolute;
      bottom: 20px;
      width: 90%;
      height: 50px;
      text-transform: unset;
      box-shadow: none;
      margin: auto;
      left: 0;
      right: 0;

      &:hover {
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .selectplan__container {
    width: 90%;
    flex-direction: column;
    margin: 100px auto;

    .arrowback__btn {
      position: absolute;
      top: -5%;
      left: 0;
    }

    .selectplan__card {
      width: 100%;
      margin: auto;
      max-width: unset;
      height: 500px;

      &:first-of-type {
        margin-right: 0;
      }

      .card__header {
        font-size: 1.3em;
      }

      .prices {
        h2 {
          font-size: 1.5em;
        }
      }

      &:hover {
        transform: unset;
      }

      &:first-of-type {
        margin-bottom: 50px;
      }
    }
  }
}

.goback-btn {
  margin-top: 20px !important;
  margin-left: 20px !important;
  background: unset;

  .arrowback__btn {
    position: static;
  }

  &:hover {
    background-color: unset !important;
  }
}

.pay__container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;
  box-shadow: 0 0 5px 1px rgb(230, 230, 230);
  margin-bottom: 100px;
  position: relative;
  background-color: #fff;

  .howtopay__btn {
    color: #ffffff;
    background-color: #3a3a3a;
    font-weight: 400;
    border-radius: 5px;
    height: 45px;
    padding: 0 10px;
    position: absolute;
    font-size: 1.1em;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background-color: #555555;
      transition: background-color 0.2s;
    }

    span {
      background-color: #fff;
      color: $primary-red;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }

  h2 {
    width: 100%;
    color: #3a3a3a;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }

  h3 {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 1.7em;
    color: rgb(170, 170, 170);
    font-weight: 400;
    border-bottom: 1px solid rgb(231, 231, 231);

    .coupon__name {
      color: rgb(4, 161, 4);
      font-size: 0.8em;

      span {
        font-size: 0.9em;
        color: #333;
      }
    }

    span {
      font-size: 1.8em;
      font-weight: 500;
      color: rgb(46, 46, 46);
    }
  }

  .partner__discount {
    font-size: 1em;

    span {
      font-size: 1.2em;
      color: rgb(53, 185, 0);
    }
  }

  h4 {
    font-size: 1em;
    margin-top: 10px;
    font-weight: 400;
    color: rgb(150, 150, 150);

    strong {
      color: #222;
    }
  }

  p {
    font-size: 0.8em;
    font-weight: 500;
    color: $primary-red;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .select__currency-title,
  .pay__btn-title {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .MuiButtonBase-root {
    margin-top: 10px;
    width: 250px;
    height: 45px;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: unset;
  }

  .currencies__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;

    .MuiFormControl-root {
      width: 50%;
    }

    .MuiSelect-root {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    .currency__btn {
      padding: 5px 10px;
      display: flex;
      margin: 0 10px;
      margin-bottom: 20px;
      width: 50px;
      height: auto;
      flex-direction: column-reverse;
      align-items: center;
      background: #fff;
      transition: background 0.2s;

      p {
        width: 100%;
        font-size: 0.9em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .MuiButtonBase-root {
      box-shadow: none;
      min-width: 230px;
      font-weight: 500;
      height: 50px;
      margin: auto;
      margin-top: 30px;
    }
  }

  .pay__btn-img {
    cursor: pointer;
    margin-bottom: 50px;
  }

  .apply-coupon__container {
    min-width: 240px;
    max-width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.2em;
      font-weight: 500;
      color: #333;
      border-bottom: none;
      margin-bottom: 0;
    }

    .apply-coupon__form {
      display: flex;
      width: 100%;

      .MuiFormControl-root {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 20px;
      }

      .MuiButtonBase-root {
        width: 50%;
        background-color: #3a3a3a;
        box-shadow: none;
      }
    }
  }

  .bitso__container {
    margin-bottom: 30px;
    span {
      display: block;
      cursor: pointer;
      width: 100%;
      font-size: 1.5em;
      color: #505050;
      text-decoration: underline;
      padding: 10px 0;
      background-color: rgb(250, 250, 250);
      font-weight: 500;

      &:hover {
        color: #565656;
      }
    }
  }
}

.bitso__guide {
  width: 100%;
  iframe {
    width: 100%;
    height: 300px;
  }
}

.upgrade__container {
  margin-top: 40px;
  position: relative;

  .arrowback__btn {
    position: absolute;
    left: -10%;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .goback-btn {
    margin-left: 0 !important;
  }

  .pay__container {
    width: 95%;
    box-shadow: none;

    .apply-coupon__container {
      margin-bottom: 20px;
      max-width: 95%;
      width: 95%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 30px;

      .apply-coupon__form {
        flex-direction: column;

        .MuiFormControl-root {
          margin: auto;
          width: 100%;
        }

        .MuiButtonBase-root {
          width: 100%;
        }
      }
    }

    .howtopay__btn {
      height: 50px;
      width: 82%;
      left: 0;
      right: 0;
      margin: auto;
      text-align: initial;

      span {
        width: 35px;
        margin-right: 15px;
      }
    }

    .currencies__container {
      .MuiButtonBase-root {
        width: 100%;
      }
      .MuiFormControl-root {
        width: 90%;
      }
    }

    h2 {
      font-size: 2.2em;
    }

    h3 {
      font-size: 1.5em;
    }

    .MuiButtonBase-root {
      margin-top: 30px;
    }
  }

  .upgrade__container {
    margin-top: 60px;

    .arrowback__btn {
      left: 0;
      top: -5%;
    }
  }
}

li.MuiButtonBase-root.MuiListItem-root {
  margin-bottom: 5px;

  img {
    width: 30px;
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
  }
}
