.checkout__container {
  .plan__name {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 2em;
    color: #3a3a3a;
    border-bottom: 1px solid rgb(160, 160, 160);
  }

  .account {
    color: #565656;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .tutorials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      width: 100%;
      font-size: 1.4em;
      color: #3a3a3a;
      font-weight: 500;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgb(230, 230, 230);
      display: flex;
      align-items: center;

      svg {
        fill: $primary-red;
        margin-right: 5px;
        font-size: 1.5em;
      }
    }
    span {
      font-size: 1.5em;
      text-decoration: underline;
      color: #555555;
      font-weight: 500;

      &:first-of-type {
        margin-bottom: 10px;
      }

      &:hover {
        cursor: pointer;
        color: #1b1b1b;
      }
    }
  }

  .price {
    font-size: 2em;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(160, 160, 160);
    font-weight: 500;
  }

  .coupon__applied {
    width: 100%;
    background-color: #3a3a3a;
    margin-top: 20px;
    padding: 15px 0;
    padding-left: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 100px;
    overflow: hidden;

    .coupon__name {
      font-size: 1.2em;
      color: #0afc0a;
      margin-right: 10px;

      strong {
        color: #fff;
        margin-left: 5px;
      }
    }

    .percent {
      font-weight: 500;
      font-size: 1.3em;
    }
  }

  .select__method {
    margin: 10px 0 30px 0;

    .MuiGrid-root {
      display: flex;
      justify-content: space-between;

      .MuiRadio-root {
        padding: 0;
        margin-right: 5px;

        .MuiTouchRipple-root {
          display: none;
        }
      }
      label {
        font-size: 1.1em;
        margin: initial;
      }
      img {
        width: 180px;
        max-width: 180px;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    label {
      font-size: 1.2em;
      margin: 20px 0 10px 0;
      color: #565656;
      .Mui-focused {
        color: #565656;
      }
    }
  }

  .currencies__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;

    .select__currency-title {
      margin-bottom: 10px;
      width: 100%;
      font-size: 1.1em;
    }

    .MuiFormControl-root {
      width: 100%;
    }

    .MuiSelect-root {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    .currency__btn {
      padding: 5px 10px;
      display: flex;
      margin: 0 10px;
      margin-bottom: 20px;
      width: 50px;
      height: auto;
      flex-direction: column-reverse;
      align-items: center;
      background: #fff;
      transition: background 0.2s;

      p {
        width: 100%;
        font-size: 0.9em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .MuiButtonBase-root {
      box-shadow: none;
      width: 100%;
      font-weight: 500;
      font-size: 1em;
      height: 50px;
      margin-top: 20px;
    }
  }

  .apply-coupon__container {
    min-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h3 {
      font-size: 1em;
      font-weight: 500;
      color: #3a3a3a;
    }

    .apply-coupon__form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .MuiFormControl-root {
        width: 100%;
        margin-bottom: 20px;
      }

      .MuiButtonBase-root {
        width: 100%;
        height: 45px;
        text-transform: unset;
        font-size: 0.9em;
        background-color: #3a3a3a;
        box-shadow: none;
      }
    }
  }

  .with__discount {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #a0a0a0;

    .price-before__discount {
      font-weight: 500;
      font-size: 1.7em;
      text-decoration: line-through;
      margin-right: 10px;
      color: #7c7c7c;
    }

    .price-with__discount {
      font-size: 2em;
      font-weight: 500;
    }
  }
}

.pay__container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;
  box-shadow: 0 0 5px 1px rgb(230, 230, 230);
  margin-bottom: 100px;
  position: relative;
  background-color: #fff;

  .howtopay__btn {
    color: #ffffff;
    background-color: #3a3a3a;
    font-weight: 400;
    border-radius: 5px;
    height: 45px;
    padding: 0 10px;
    position: absolute;
    font-size: 1.1em;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background-color: #555555;
      transition: background-color 0.2s;
    }

    span {
      background-color: #fff;
      color: $primary-red;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }

  h2 {
    width: 100%;
    color: #3a3a3a;
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }

  h3 {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 1.7em;
    color: rgb(170, 170, 170);
    font-weight: 400;
    border-bottom: 1px solid rgb(231, 231, 231);

    .coupon__name {
      color: rgb(4, 161, 4);
      font-size: 0.8em;

      span {
        font-size: 0.9em;
        color: #333;
      }
    }

    span {
      font-size: 1.8em;
      font-weight: 500;
      color: rgb(46, 46, 46);
    }
  }

  .partner__discount {
    font-size: 1em;

    span {
      font-size: 1.2em;
      color: rgb(53, 185, 0);
    }
  }

  h4 {
    font-size: 1em;
    margin-top: 10px;
    font-weight: 400;
    color: rgb(150, 150, 150);

    strong {
      color: #222;
    }
  }

  p {
    font-size: 0.8em;
    font-weight: 500;
    color: $primary-red;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .pay__btn-title {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .MuiButtonBase-root {
    margin-top: 10px;
    width: 250px;
    height: 45px;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: unset;
  }

  .pay__btn-img {
    cursor: pointer;
    margin-bottom: 50px;
  }

  .bitso__container {
    margin-bottom: 30px;
    span {
      display: block;
      cursor: pointer;
      width: 100%;
      font-size: 1.5em;
      color: #505050;
      text-decoration: underline;
      padding: 10px 0;
      background-color: rgb(250, 250, 250);
      font-weight: 500;

      &:hover {
        color: #565656;
      }
    }
  }
}

.bitso__guide {
  width: 100%;
  iframe {
    width: 100%;
    height: 300px;
  }
}

.upgrade__container {
  margin-top: 40px;
  position: relative;

  .arrowback__btn {
    position: absolute;
    left: -10%;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .goback-btn {
    margin-left: 0 !important;
  }

  .pay__container {
    width: 95%;
    box-shadow: none;

    .apply-coupon__container {
      margin-bottom: 20px;
      max-width: 95%;
      width: 95%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 30px;

      .apply-coupon__form {
        flex-direction: column;

        .MuiFormControl-root {
          margin: auto;
          width: 100%;
        }

        .MuiButtonBase-root {
          width: 100%;
        }
      }
    }

    .howtopay__btn {
      height: 50px;
      width: 82%;
      left: 0;
      right: 0;
      margin: auto;
      text-align: initial;

      span {
        width: 35px;
        margin-right: 15px;
      }
    }

    .currencies__container {
      .MuiButtonBase-root {
        width: 100%;
      }
      .MuiFormControl-root {
        width: 90%;
      }
    }

    h2 {
      font-size: 2.2em;
    }

    h3 {
      font-size: 1.5em;
    }

    .MuiButtonBase-root {
      margin-top: 30px;
    }
  }

  .upgrade__container {
    margin-top: 60px;

    .arrowback__btn {
      left: 0;
      top: -5%;
    }
  }
}

li.MuiButtonBase-root.MuiListItem-root {
  margin-bottom: 5px;

  img {
    width: 30px;
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
  }
}
