.plan__admintab {
  margin: auto;
  margin-top: 60px;
  width: 400px;
  display: flex;
  flex-direction: column;

  .plan__switch {
    margin-bottom: 30px;
  }

  .submit__btn {
    height: 45px;
    margin-top: 20px;
  }

  .plan__datepicker {
    margin-top: 20px;

    label {
      color: #333;
      font-weight: 500;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  }
}
