$gray: rgb(100, 100, 100);

.dashboard__nav {
  display: flex;
  align-items: center;
  max-width: 300px;
  justify-content: flex-end;

  .dashboard__drawer-open-btn {
    text-transform: uppercase;
    color: $gray;
    font-weight: 400;
    display: flex;
    align-items: center;

    svg {
      fill: $gray;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}
