.forgot__header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 130px;
  align-items: center;
  position: relative;

  span.arrowback__btn {
    position: absolute;
    top: 40%;
    left: 5%;
  }

  .logo {
    display: block;
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.forgotpw__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  h2 {
    color: #333;
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
    color: #acacac;
  }
}

.forgotpw__form,
.emailsend__container {
  width: 50%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  margin: auto;
  margin-top: 30px;
  display: flex;
}

.forgotpw__form {
  flex-direction: column;

  button.MuiButtonBase-root {
    margin-top: 25px;
    height: 45px;
  }
}

.emailsend__container {
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  text-align: center;

  h2 {
    font-size: 1.2em;
    color: rgb(105, 105, 105);
    font-weight: 400;

    span {
      font-weight: 600;
      color: #333;
    }
  }
}

@media screen and (max-width: 768px) {
  .forgot__header {
    span.arrowback__btn {
      position: absolute;
      top: 30%;
      left: 5%;
    }
  }

  .forgotpw__form,
  .emailsend__container {
    width: 90%;
  }
}
