.livestream__container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  .livestream__title {
    width: 88%;
    margin: auto;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;

    .livestream__title-thumb {
      width: 180px;
      height: 180px;
      max-height: 180px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .livestream__title-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h2 {
        font-size: 2.5em;
        color: #555555;
        font-weight: 400;
      }
    }
  }

  .livestream {
    display: flex;
    width: 100%;
    height: 600px;
    padding: 0 5%;
    margin-bottom: 200px;

    .videojs__container {
      width: 65% !important;
      height: 100%;
      display: flex;
      justify-content: flex-start;

      .video-js {
        width: 100%;
        height: 100%;

        video {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .videojs__container,
    .chat__container {
      margin: auto;
      height: 100%;
    }

    .chat__container {
      width: 30%;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      overflow: hidden;
      position: relative;

      .chat__messages {
        padding: 15px;
        width: 100%;
        height: 75%;
        max-height: 80%;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .message {
          padding: 10px 0 10px 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: #fff;
          flex-wrap: wrap;
          overflow-wrap: break-word;
          margin-bottom: 15px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 0.9em;
          width: 100%;
          font-weight: 500;
          margin-right: 5px;
          color: #797979;
          margin-bottom: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        h3 {
          width: 100%;
          font-size: 1em;
          margin: 5px 0;
          font-weight: 500;
        }

        .profesor__badge {
          color: #fff;
          font-weight: 500;
          font-size: 1.1em;
          margin-bottom: 10px;
          background: #3a3a3a;
          padding: 3px 10px;
          border-radius: 5px;
        }
      }

      .chat__messages::-webkit-scrollbar {
        display: block;
        width: 12px;
        cursor: pointer;
        position: absolute;
        z-index: 9000;
      }
      .chat__messages::-webkit-scrollbar-track {
        background: none;
      }
      .chat__messages::-webkit-scrollbar-thumb {
        background-color: $primary-red;
        border-radius: 20px;
        border: 3px solid rgb(240, 240, 240);
      }

      .chat__header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3a3a3a;
        padding: 0 5%;

        h2 {
          color: #fff;
          font-weight: 500;
          font-size: 1.5em;
          display: flex;
          align-items: center;

          svg {
            margin-left: 10px;
          }
        }
      }

      .chat__input-text {
        position: absolute;
        height: 15%;
        bottom: 0;
        width: 100%;
        background-color: rgb(49, 49, 49);

        form {
          width: 100%;
          height: 100%;
          padding: 10px;

          .input {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .MuiFormControl-root {
              width: 60%;
              margin: auto;
            }
            .MuiInput-underline:before {
              border-bottom: 2px solid #fff;
            }
            .MuiInputBase-root {
              color: #fff;
            }

            button {
              width: 30%;
              margin: auto;
              height: 35px;
              padding: 0 30px;
              background-color: #fff;
              text-transform: unset;
              font-size: 1em;
              color: #3a3a3a;
            }
          }
          .automatic__scroll {
            width: 95%;
            margin: auto;
            display: flex;
            align-items: center;

            .MuiFormControlLabel-root {
              display: flex;
              flex-direction: row-reverse;
              margin-left: 0;

              .MuiCheckbox-root {
                color: #fff;
              }

              .MuiFormControlLabel-label {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .livestream__container {
    margin-top: 40px;

    .livestream__title {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .livestream__title-thumb {
        margin: 0 0 30px 0;
      }

      .livestream__title-name {
        flex-direction: column-reverse;
        svg {
          margin-bottom: 20px !important;
        }
      }
    }

    .livestream {
      height: 800px;
      flex-direction: column;

      .videojs__container,
      .chat__container {
        width: 100% !important;
      }

      .videojs__container {
        margin-bottom: 50px;
        height: 30%;
      }
    }
  }
}
