.livestream__container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  .livestream__title {
    width: 88%;
    margin: auto;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;

    .livestream__title-thumb {
      width: 110px;
      height: 110px;
      max-height: 110px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 30px;

      img {
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .livestream__title-name {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      h2 {
        font-size: 2em;
        color: #555555;
        font-weight: 400;
      }
    }
  }

  .livestream {
    display: flex;
    width: 100%;
    height: 500px;
    padding: 0 5%;
    margin-bottom: 200px;

    .videojs__container {
      width: 65% !important;
      height: 100%;
      display: flex;
      justify-content: flex-start;

      .video-js {
        width: 100%;
        height: 100%;

        video {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    .videojs__container,
    .chat__container {
      margin: auto;
      height: 100%;
    }

    .chat__container {
      width: 30%;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      overflow: hidden;
      position: relative;

      .chat__messages {
        padding: 15px;
        width: 100%;
        height: 100%;
        max-height: 80%;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .message {
          padding: 10px 0 10px 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background: #fff;
          flex-wrap: wrap;
          overflow-wrap: break-word;
          margin-bottom: 15px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 0.9em;
          width: 100%;
          font-weight: 500;
          margin-right: 5px;
          color: #797979;
          margin-bottom: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        h3 {
          width: 100%;
          font-size: 1em;
          margin: 5px 0;
          font-weight: 500;
        }

        .profesor__badge {
          color: #fff;
          font-weight: 500;
          font-size: 1.1em;
          margin-bottom: 10px;
          background: #3a3a3a;
          padding: 3px 10px;
          border-radius: 5px;
        }
      }

      .chat__messages::-webkit-scrollbar {
        display: block;
        width: 12px;
        cursor: pointer;
        position: absolute;
        z-index: 9000;
      }
      .chat__messages::-webkit-scrollbar-track {
        background: none;
      }
      .chat__messages::-webkit-scrollbar-thumb {
        background-color: $primary-red;
        border-radius: 20px;
        border: 3px solid rgb(240, 240, 240);
      }

      .chat__header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #3a3a3a;
        padding: 0 5%;

        h2 {
          color: #fff;
          font-weight: 500;
          font-size: 1.5em;
          display: flex;
          align-items: center;

          svg {
            margin-left: 10px;
          }
        }

        // span {
        //   width: 80px;
        //   height: 30px;
        //   border-radius: 5px;
        //   background-color: #ffffff;
        //   color: $primary-red;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   padding: 2px;
        //   font-weight: 500;

        //   svg {
        //     margin-right: 5px;
        //   }
        // }
      }

      .chat__input-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: rgb(49, 49, 49);

        form {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .MuiInputBase-root {
            input {
              color: #fff;
              &::placeholder {
                color: #fff;
                opacity: 0.8;
                font-size: 0.9em;
              }
            }

            fieldset {
              border: none;
            }
          }

          input::placeholder {
            color: rgb(26, 26, 26);
          }

          button {
            height: 35px;
            padding: 0 30px;
            background-color: #fff;
            text-transform: unset;
            font-size: 1em;
            color: #3a3a3a;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .livestream__container {
    .livestream__title {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .livestream__title-thumb {
        margin: 0 0 30px 0;
      }

      .livestream__title-name {
        flex-direction: column-reverse;
        svg {
          margin-bottom: 20px !important;
        }
      }
    }

    .livestream {
      flex-direction: column;
      height: 800px;

      .videojs__container,
      .chat__container {
        width: 100% !important;
      }

      .videojs__container {
        margin-bottom: 50px;
        height: 30%;
      }

      .chat__container {
        height: 70%;
      }
    }
  }
}
