.dashboard__header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  box-shadow: 0 0 5px 1px rgb(221, 221, 221);

  .dashboard__logo {
    width: 80px;
    height: 85%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
