.MuiTabs-root {
  width: 100%;
}

.MuiTab-root {
  margin-right: 20px !important;
}

.MuiTabs-flexContainer {
  justify-content: center;
}

.tab__title {
  margin: 60px auto;
  display: flex;
  align-items: center;
  width: 85%;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  h2 {
    margin-right: 10px;
    color: #565656;
    font-weight: 400;
    font-size: 3em;
  }

  svg {
    width: 60px;
    height: 60px;
    fill: #565656;
  }
}

@media screen and (max-width: 768px) {
  .MuiTabs-flexContainer {
    justify-content: unset;
  }

  .tab__title {
    h2 {
      font-size: 2.3em;
    }
  }
}
