.pay__container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 80px;
  box-shadow: 0 0 5px 1px rgb(245, 245, 245);
  margin-bottom: 100px;
  position: relative;

  .howtopay__btn {
    color: $primary-red;
    background-color: unset;
    font-weight: 500;
    position: absolute;
    font-size: 1em;
    text-decoration: underline;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      background-color: $primary-red;
      color: #fff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }

  span.arrowback__btn {
    position: absolute;
    top: 3%;
    left: 3%;
  }

  h2 {
    width: 100%;
    color: $primary-red;
    font-size: 2.3em;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
  }

  h3 {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.7em;
    color: rgb(170, 170, 170);
    font-weight: 400;
    border-bottom: 1px solid rgb(231, 231, 231);

    .coupon__name {
      color: rgb(4, 161, 4);
      font-size: 0.8em;

      span {
        font-size: 0.9em;
        color: #333;
      }
    }

    span {
      font-size: 1.8em;
      font-weight: 500;
      color: rgb(46, 46, 46);
    }
  }

  h4 {
    font-size: 1em;
    margin-top: 10px;
    font-weight: 400;
    color: rgb(150, 150, 150);

    strong {
      color: #222;
    }
  }

  p {
    font-size: 0.8em;
    font-weight: 500;
    color: $primary-red;
    margin: 20px 0;
    margin-bottom: 10px;
  }

  .select__currency-title,
  .pay__btn-title {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .currencies__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .MuiFormControl-root {
      width: 50%;
      margin-bottom: 20px;
    }

    .MuiSelect-root {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 5px;

      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    .currency__btn {
      padding: 5px 10px;
      display: flex;
      margin: 0 10px;
      margin-bottom: 20px;
      width: 50px;
      height: auto;
      flex-direction: column-reverse;
      align-items: center;
      background: #fff;
      transition: background 0.2s;

      p {
        width: 100%;
        font-size: 0.9em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .MuiButtonBase-root {
    margin-top: 10px;
    width: 220px;
    height: 40px;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: capitalize;
  }

  .pay__btn-img {
    cursor: pointer;
  }

  .apply-coupon__container {
    min-width: 240px;
    max-width: 60%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.2em;
      font-weight: 500;
      color: #333;
    }

    .apply-coupon__form {
      display: flex;

      .MuiFormControl-root {
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pay__container {
    width: 95%;
    box-shadow: none;
    margin-top: 80px;

    .apply-coupon__container {
      max-width: 95%;
      width: 95%;

      .apply-coupon__form {
        flex-direction: column;

        .MuiFormControl-root {
          margin: auto;
          width: 100%;
        }

        .MuiButtonBase-root {
          width: 100%;
        }
      }
    }

    .howtopay__btn {
      left: 0;
      right: 0;
      margin: auto;
    }

    .currencies__container {
      .MuiFormControl-root {
        width: 90%;
      }
    }

    span.arrowback__btn {
      position: absolute;
      top: -10%;
      left: 5%;
    }

    h2 {
      font-size: 2.2em;
    }

    h3 {
      font-size: 1.5em;
    }

    .MuiButtonBase-root {
      margin-top: 30px;
    }
  }
}

li.MuiButtonBase-root.MuiListItem-root {
  margin-bottom: 5px;

  img {
    width: 30px;
    object-fit: contain;
    height: 30px;
    margin-right: 10px;
  }
}
