.signals__tab__container {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  max-width: 900px;
  padding: 10px;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .signals__tab {
    width: 100%;
    display: flex;
    align-items: center;
    height: 500px;

    .signals__tab-img {
      width: 45%;
      height: 100%;
      margin: 0;
      margin-top: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .signals__tab-info {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 1.6em;
        font-weight: 400;
        color: rgb(26, 26, 26);
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 10px;

        span {
          font-weight: 500;
          color: $primary-red;
        }
      }

      .signals__tab-info__buttons {
        display: flex;
        width: 100%;
        justify-content: center;

        img {
          width: 180px;
          object-fit: contain;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .signals__tab__container {
    width: 100%;

    .signals__tab {
      flex-direction: column;

      .signals__tab-img {
        width: 95%;
        margin-bottom: 20px;
        margin-top: 0;

        img {
          max-width: 250px;
        }
      }

      .signals__tab-info {
        width: 95%;

        h2 {
          font-size: 1.4em;
          padding-bottom: 20px;
        }
      }
      .signals__tab-info__buttons {
        flex-direction: column;
      }
    }
  }
}
