.telegram__container {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  max-width: 900px;
  padding: 10px;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .telegram__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 2.2em;
      color: rgb(26, 26, 26);
    }

    h3 {
      color: rgb(235, 23, 23);
      font-size: 1.8em;
      margin-bottom: 5px;
    }

    li {
      font-size: 1em;
      color: rgb(37, 37, 37);
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      color: rgb(138, 138, 138);
      font-weight: 400;
    }

    button {
      display: flex;
      align-items: center;
      width: 160px;
      min-width: 160px;

      svg {
        margin-left: 5px;
      }
    }
  }

  > .lock__img,
  .telegram__img {
    display: block;
    width: 100px;
    height: 100px;

    margin-bottom: 20px;
  }

  .lock__img {
    path {
      fill: rgb(143, 143, 143);
    }
  }

  .telegram__img {
    path {
      fill: rgb(14, 136, 192);
    }
  }

  h2 {
    color: rgb(37, 37, 37);
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 10px;
  }
  p {
    color: rgb(131, 131, 131);
    font-size: 1.2em;
  }

  button {
    width: 200px;
    min-width: 200px;
    height: 45px;
    margin-top: 30px;

    svg {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .telegram__container {
    width: 100%;

    .telegram__info {
      h2 {
        font-size: 1.7em;
      }

      h3 {
        font-size: 1.5em;
      }

      li {
        font-size: 0.9em;
      }
    }
  }
}
