.changepassword__form {
  width: 50%;
  max-width: 400px;
  margin: auto;
  margin-top: 80px;
  position: relative;

  .arrowback__btn {
    position: absolute;
    top: -17%;
    left: 0;

    &::after {
      content: "Volver al dashboard";
      font-weight: 300;
      width: 200px;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 0.9em;
      color: #575757;
      position: absolute;
      left: 40px;
    }
  }

  .changepassword__form-title {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background-color: rgb(43, 43, 43);
    margin-bottom: 10px;

    h2 {
      color: #fff;
      font-size: 1.1em;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .MuiFormHelperText-root {
      margin-top: -20px;
      margin-bottom: 10px;
    }

    .MuiInputBase-root {
      margin-bottom: 20px;
    }

    button {
      height: 40px;
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .goback {
    width: 100%;
    padding-left: 8%;
  }

  .changepassword__form {
    width: 85%;

    form {
      width: 100%;
    }
  }
}
